@font-face {
    font-family: TAN;
    src: url(fonts/TAN\ Moonlight\ Display.ttf);
}

@font-face {
    font-family: arial-nova;
    src: url(fonts/Arial\ Nova.ttf);
}

body {
    margin: 0;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "side main"
        "side main";
    
}

.header {
    display: none;
}

.sidebar {
    background-color: white;
    height: 100vh;
    width: 260px;
    position: fixed;
    padding: 20px;
    padding-top: 40px;
    padding-left: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas: 
    "name-titles"
    "content";

    grid-area: side;
}

.main {
    background-color: white;
    padding: 10px;

    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name-title {
    font-family: TAN;
    color: #EF7B57;
    font-size: 73px;
    grid-area: name-titles;
}

.headshot--1 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
    
}

.headshot--2 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--3 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--4 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--5 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--6 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--7 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--8 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--9 {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.headshot--10 {
    font-family: arial-nova;
    font-size: xx-large;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-wrap{
    padding: 10px;
    padding-bottom: 40px;
    height: 400px;
    transition: transform 0.8s cubic-bezier(0.34, 1.04, 0.64, 0.97);
}

.photo-wrap-more {
    padding: 10px;
    padding-bottom: 40px;
    height: 400px;
    transition: transform 0.8s cubic-bezier(0.34, 1.04, 0.64, 0.97);
    cursor: pointer;
    position: relative;
}

.more-container {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.more-text {
    color: black;
    font-size: large;
}


.photo-wrap-more:hover {
    transform: scale(1.08);
}

.photo-wrap:hover {
    transform: scale(1.08);
}

@media (max-width: 599px){


    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 170px 1fr;
        grid-template-areas: 
        "top-head"
        "bottom-photos";
    }

    .sidebar{
        display: none;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        outline-color: white;
    }

    .nav-hyperlink {
        padding: 10px;
        padding-top: 30px;
        font-family: arial-nova;
        font-size: large;
        font-weight: bold;
    }

    .header-name {
        font-family: TAN;
        padding-top: 32px;
        padding-bottom: 5px;
        color: #EF7B57;
        font-size: 50px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:white;
        grid-area: top-head;
    }

    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline:white;

        grid-area: bottom-photos;
    }
}