@font-face {
    font-family: TAN;
    src: url(fonts/TAN\ Moonlight\ Display.ttf);
}

@font-face {
    font-family: garam;
    src: url(fonts/Arial\ Nova.ttf);
}



body {
    margin: 0;
    background-color: #ECE8E1;

    font-family: "EB Garamond", serif;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "side main"
        "side main";
    
}

.header {
    display: none;
}

.sidebar {
    height: 100vh;
    width: 260px;
    position: fixed;
    padding: 20px;
    padding-top: 40px;
    padding-left: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas: 
    "name-titles"
    "content";

    grid-area: side;
}

.main {
    padding: 10px;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
}

.name-title {
    font-family: TAN;
    color: #EF7B57;
    font-size: 64px;
    grid-area: name-titles;
    padding-right: 10px;
}

.headshot {
    height: 400px;
}

.photo-wrap{
    height: 400px;
    transition: transform 0.8s cubic-bezier(0.34, 1.04, 0.64, 0.97);
}

.photo-wrap-more {
    padding: 10px;
    padding-bottom: 40px;
    height: 400px;
    transition: transform 0.8s cubic-bezier(0.34, 1.04, 0.64, 0.97);
    cursor: pointer;
    position: relative;
}

.more-container {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.more-text {
    color: black;
    font-size: large;
}

ion-icon {
    font-size: 25px;
}


.photo-wrap-more:hover {
    transform: scale(1.08);
}

.photo-wrap:hover {
    transform: scale(1.08);
}

.name-content-space {
    height: 20px;
}

.instagram-hyper {
    cursor: pointer;
    width: fit-content;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
}

a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}
a {text-decoration: none;}
.media-handle {
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 23px;
    font-weight: 550;
}



@media (max-width: 599px){


    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 170px 1fr;
        grid-template-areas: 
        "top-head"
        "bottom-photos";
    }

    .sidebar{
        display: none;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
    }


    .nav-hyperlink {
        padding: 10px;
        padding-top: 15px;
        font-size: 20px; 
        font-optical-sizing: auto; font-weight: 527; 
        font-weight: bold; 
        font-style: italic;
     }

    .header-name {
        font-family: TAN;
        padding-top: 38px;
        padding-bottom: 5px;
        color: #EF7B57;
        font-size: 45px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#ECE8E1;
        grid-area: top-head;
    }

    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        grid-area: bottom-photos;
    }
}